<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre Selection</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div> 
        <div class="card w-96 bg-base-300 shadow-xl">
            <div class="card-body">
                <h2 class="card-title">Recommendations based on your 5 songs</h2>
                {% for artist, song in recommendations_info %}
                <p>{{ artist }}: {{ song }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<form action="/createPlaylistRecommendations" method="post">
    {% for id in recommendationsIDs %}
    <input type="hidden" name="reccomendationIDs[]" value="{{ id }}">
    {% endfor %}
    <button type="submit" class="btn btn-accent">Create Recommendations Playlist</button>
</form>

    <!-- <div class="container">
        <form method="post" action="/createPlaylistGenres">
            <fieldset>
                <legend><h2>Pick up to 5 Genres:</h2></legend>
                <div class="flex gap-x-24 gap-y-8 flex-wrap">
                    {% for category, genres in music_genres.items() %}
                    <div>
                        <label class="text-xl font-semibold" for="category">{{category}}</label>
                        {% for genre in genres %}
                        <div class="flex flex-row gap-x-2">
                            <input type="checkbox" name="Genre" onclick="return handleGenres();" value="{{genre}}">
                            <span>{{genre}}</span>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-accent">Create Playlist</button>
            </fieldset>
        </form>
    </div>

    

    <script type="text/javascript">
        function handleGenres() {
            var checkboxes = document.querySelectorAll('input[name="Genre"]');
            var checkedItems = 0;
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked)
                    checkedItems++;
            }
            if (checkedItems > 5) {
                alert("You cannot choose more than 5 genres, pick wisely!");
                return false;
            }
        }
    </script> -->
</body>
</html>