<html>
    <body>
        <h1>Hello {{ displayName }}!</h1>
        <h2>Here are your top 5 songs:</h2>

        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>

        <table class="table" style="border-radius: 10px; ">
            <tr>
                <th>Artist</th>
                <th>Song</th>
            </tr>
            <hr>
            {% for artist, song in topTracks_info %}
            <tr>
                <td>{{ artist }}</td>
                <td>{{ song }}</td>
                
            </tr>
            
            {% endfor %}
        </table>

        <h2>And here are your top artists:</h2>
        <table class="table" style="border: 1px solid black; border-radius: 10px;">
            <tr>
                <th>Artist</th>
                <th>Genres</th>
            </tr>
            <hr>
            {% for name, genres in recentlyPlayed_info %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ genres }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Here are some recommendations:</h2>
        <table class="table" style="border: 1px solid black; border-radius: 10px;">
            <tr>
                <th>Artist</th>
                <th>Song</th>
            </tr>
            <hr>
            {% for artist, song in recommendations_info %}
            <tr>
                <td>{{ artist }}</td>
                <td>{{ song }}</td>
            </tr>
            {% endfor %}
        </table>

        <!-- <form action="/createPlaylistRecommendations" method="post">
            <button type="submit">Create Recommendations Playlist</button>
            <input type="hidden" name="recommendations_info" value="recommendations_info">
        </form> -->
        <form action="/createPlaylistRecommendations" method="post">
            <!-- Loop through recommendations_info and store each value in a hidden input field -->
            {% for id in recommendationsIDs %}
            <input type="hidden" name="reccomendationIDs[]" value="{{ id }}">
            {% endfor %}
            <button type="submit">Create Recommendations Playlist</button>
        </form>
        
    </body>
</html>