<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Spotify Web App</title>
    </head>
    <!--NAVBAR-->
    <navbar>
          <div class="flex justify-center bg-base-100">
            <div>
              <div class="dropdown absolute left-0">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
                </div>
              </div>
            </div>
            <div class="flex justify-center items-align">
              <a class="btn btn-ghost text-xl">FlowFinder</a>
            </div>
            <div class="flex">
                <a class="btn btn-ghost text-xl absolute right-0" href="/login">Login</a>
            </div>
        </div>
    </navbar>
    <div class="flex flex-row min-h-screen justify-center items-center">
        <div class="card w-96 bg-base-200 shadow-xl">
            <div class="card-body">
            <h2 class="card-title">Login to access FlowFinder</h2>
            <p>FlowFinder allows you to view your spotify stats, and create various different playlists.</p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary"><a href="/login">Login</a></button>
            </div>
            </div>
        </div>
    </div>
</html>