<html>
    <body>
        <h1>Hello {{ displayName }}!</h1>
        <h2>Here are your top 20 songs:</h2>
        <table class="table">
            <tr>
                <th>Artist</th>
                <th>Song</th>
            </tr>
            {% for artist, song in topTracks_info %}
            <tr>
                <td>{{ artist }}</td>
                <td>{{ song }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>And here are your top artists:</h2>
        <table class="table">
            <tr>
                <th>Artist</th>
                <th>Genres</th>
            </tr>
            {% for name, genres in recentlyPlayed_info %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ genres }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Here are some recommendations:</h2>
        <table class="table">
            <tr>
                <th>Artist</th>
                <th>Song</th>
            </tr>
            {% for artist, song in recommendations_info %}
            <tr>
                <td>{{ artist }}</td>
                <td>{{ song }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>